<div class="social-badges">
    <a class="dribbble" href="http://dribbble.com/keithahall" title="Dribbble">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
        </span>
        <span class="tooltip">Dribble</span>
    </a>

    <a class="github" href="http://github.com/keithio" title="GitHub">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
        <span class="tooltip">GitHub</span>
    </a>

    <a class="google-plus" href="http://plus.google.com/104871620159140347646" title="Google+">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span>
        <span class="tooltip">Google+</span>
    </a>

    <a class="linkedin" href="http://linkedin.com/in/keithio" title="LinkedIn">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
        <span class="tooltip">LinkedIn</span>
    </a>

    <a class="twitter" href="http://twitter.com/keithahall" title="Twitter">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
        <span class="tooltip">Twitter</span>
    </a>
</div>