.social-badges {
    margin: 10px 0 -10px 0;
}

.social-badges a {
    text-decoration: none;
}

.social-badges > .dribbble:hover {
    color: #ea4c89;
}

.social-badges > .facebook:hover {
    color: #3b5998;
}

.social-badges > .flickr:hover {
    color: #fe0883;
}

.social-badges > .github:hover {
    color: #3f82b9;
}

.social-badges > .google-plus:hover {
    color: #c63d2d;
}

.social-badges > .instagram:hover {
    color: #4e433c;
}

.social-badges > .linkedin:hover {
    color: #4875b4;
}

.social-badges > .twitter:hover {
    color: #33ccff;
}

.social-badges > .vimeo:hover {
    color: #86b32d;
}

.social-badges > .youtube:hover {
    color: #ff3333;
}